<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>ExpressSome Test Client</title>

    <link rel="stylesheet" href="./test-package/font-awesome/css/font-awesome.min.css"  media="all"/>
    <link rel="stylesheet" href="./test-package/bootstrap/css/bootstrap.min.css"  media="all"/>
    <link rel="stylesheet" href="./test-package/my-app/main.css"  media="all"/>

    <script type="text/javascript" src="./test-package/my-app/jquery.min.js"></script>
    <script type="text/javascript" src="./test-package/bootstrap/js/bootstrap.min.js"></script>

</head>
<body>
    <%- body %>
</body>
</html>